<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index.html</title>
    <style>
        table, td,th
        {
            color: green; font-size:22px;
        }
        input
        {
          color: blue; font-size:22px;
        }
         span { font-weight: bold; color:green}
         div { font-size: 22px; color:brown}
    </style>

</head>
<body>
<form action="result" method="post">
    <h1><tr> <td align="center">Xác định vị trí tương đối của 2 đường thẳng trong không gian</td>
        </tr> </h1>

    <table>
    <tr><td>Nhập tọa độ vecto chỉ phương của (d1):
        x = <input type ="text" name="n1" size="5" maxlength="5">
         y = <input type="text" name="n2" size="5" maxlength="5">
         z = <input type="text" name="n3" size="5" maxlength="5"></td></tr>
        <tr><td>Nhập tọa độ vecto chỉ phương của (d2):
        x = <input type="text" name="n4" size="5" maxlength="5">
         y = <input type="text" name="n5" size="5" maxlength="5">
         z = <input type="text" name="n6" size="5" maxlength="5"></td></tr>
        <tr><td>Nhập tọa độ điểm A thuộc (d1):
        x = <input type="text" name="n7" size="5" maxlength="5">
         y = <input type="text" name="n8" size="5" maxlength="5">
         z = <input type="text" name="n9" size="5" maxlength="5"></td></tr>
        <tr><td>Nhập tọa độ điểm B thuộc (d2):
        x = <input type="text" name="n10" size="5" maxlength="5">
         y = <input type="text" name="n11" size="5" maxlength="5">
         z = <input type="text" name="n12" size="5" maxlength="5"></td></tr>
    <tr> <td align="center"><input type="reset" value="Nhập lại">
        <input type="submit" value="Thực hiện tính toán"></td>
        </tr>
    </table>

</form>

</body>
</html>